

.admin-create-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-row label {
    width: 48%;
}

.form-row input,
.form-row select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

