body {
    /* background-color: #f0f4f7; */
    font-family: "Arial", sans-serif;
}

.login-page-container {
    display: flex;
    height: 100vh;
}

.left-side, .right-side {
    flex: 1;
}

.left-side img {
    width: 130%;
    height: 130%;
    object-fit: cover;
}

.right-side {
    /* display: flex; */
    align-items: center;
    margin-top:5%;
    margin-left:22%;
    justify-content: center;
    padding: 0px;
}

.loginpage {
    max-width: 390px;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.title-text {
    text-align: center;
    margin-bottom: 20px;
}

.btn-save {
    background-color: #054982;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    min-width: 240px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #333;
}

.slide-controls {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

.slide-controls input[type="radio"] {
    display: none;
}

.slide {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    background: #f7f7f7;
    color: #333;
    cursor: pointer;
    transition: background 0.3s;
}

.active {
    background: #0380bc;
    color: #fff;
}

.form-container {
    margin-top: 20px;
}

.form-inner {
    display: flex;
    width: 100%;
}

.form-inner form {
    width: 100%;
}

.field {
    margin-bottom: 15px;
}

.field input {
    width: 85%;
    font-size: 14px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.field input:focus {
    border-color: #0073e6;
    outline: none;
}

.btn {
    margin-top: 20px;
}

.btn button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #054982;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: -116px;
}

.btn button:hover {
    background: #005bb5;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.pass-link {
    text-align: left;
    margin-top: 15px;
}

.pass-link a, .signup-link a {
    color: #0073e6;
    text-decoration: none;
}

.pass-link a:hover, .signup-link a:hover {
    text-decoration: underline;
}

.alert {
    text-align: center;
    margin: 10px 0;
}

.alert.success {
    color: green;
}

.alert.error {
    color: red;
}
